<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Players Data</title>
</head>
<body>
<div align="center">
  <h1>Players Data</h1>
  <p>Name:<strong th:text="${playerForm.name}"></strong></p>
  <p>Position:<strong th:text="${playerForm.position}"></strong></p>
  <p>Age:<strong th:text="${playerForm.age}"></strong></p>
  <p>Strong Leg:<strong th:text="${playerForm.strongLeg}"></strong></p>
  <P>Club:<strong th:text="${playerForm.club}"></strong></P>
</div>

</body>
</html>